.EmployeeContainer {
    position: relative;
    display: inline-block;
    width: 18%;
    margin: 1%;
}

.EmployeeContainer img {
    width: 100%;
}

.centered {
    display:none;
}

.mask.clicked.chosen {
    position: absolute;
    opacity: 0.5;
    background: green;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.mask.clicked.notChosen {
    position: absolute;
    opacity: 0.5;
    background: red;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.centered.clicked {
    opacity: 1;
    display: block;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Open Sans';
    color: white;
    font-weight: bold;
    text-align: center;
}

.div {
    display: inline;
}