.EmployeeContainer{
    position: relative;
    display: inline-block;
    padding: 10px;
}

.true {
    opacity: 0.3;
}

.centered {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.div {
    display: inline;
}
