.EmployeeContainer{
    position: relative;
    display: inline-block;
    padding: 10px;
}

.ImgWrapper.chosen {
    background: green;
    margin: 0px;
}

.ImgWrapper.notChosen {
    background: red;
    margin: 0px;
}

.clicked.chosen {
    opacity: 0.5;
}

.clicked.notChosen {
    opacity: 0.5
}

.centered {
    display:none;
}

.centered.clicked {
    opacity: 1;
    display: block;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Open Sans';
    color: white;
    font-weight: bold;
    text-align: center;
}
